ISC/CL/obj/Debug/CL.csproj.CoreCompileInputs.cache
ISC/CL/obj/Debug/CL.csproj.CoreCompileInputs.cache
ISC/CL/obj/Debug/CL.csproj.CoreCompileInputs.cache
ISC/CL/obj/Debug/CL_MarkupCompile.i.cache
ISC/CL/obj/Debug/CL_MarkupCompile.i.lref
ISC/CL/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ISC/CL/obj/Debug/DragDrop/ThumbItem.g.i.cs
ISC/ISC/bin/Debug/de/Microsoft.Expression.Effects.resources.dll
ISC/ISC/bin/Debug/es/Microsoft.Expression.Effects.resources.dll
ISC/ISC/bin/Debug/fr/Microsoft.Expression.Effects.resources.dll
ISC/ISC/bin/Debug/ISC.exe
ISC/ISC/bin/Debug/ISC.pdb
ISC/ISC/bin/Debug/it/Microsoft.Expression.Effects.resources.dll
ISC/ISC/bin/Debug/ja/Microsoft.Expression.Effects.resources.dll
ISC/ISC/bin/Debug/ko/Microsoft.Expression.Effects.resources.dll
ISC/ISC/bin/Debug/Microsoft.Expression.Effects.dll
ISC/ISC/bin/Debug/ru/Microsoft.Expression.Effects.resources.dll
ISC/ISC/bin/Debug/zh-Hans/Microsoft.Expression.Effects.resources.dll
ISC/ISC/bin/Debug/zh-Hant/Microsoft.Expression.Effects.resources.dll
ISC/ISC/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ISC/ISC/obj/Debug/ISC.csproj.CoreCompileInputs.cache
ISC/ISC/obj/Debug/ISC.csproj.GenerateResource.Cache
ISC/ISC/obj/Debug/ISC.csprojResolveAssemblyReference.cache
ISC/ISC/obj/Debug/ISC.pdb
ISC/ISC/obj/Debug/ISC_MarkupCompile.cache
ISC/ISC/obj/Debug/ISC_MarkupCompile.i.cache
ISC/ISC/obj/Debug/ISC_MarkupCompile.i.lref
ISC/ISC/obj/Debug/ISC_MarkupCompile.lref
